{% extends 'dashboard_base.html' %}
{% load static %}


{% block content %}




<main class="content mt-0">

    <h1 style="text-transform: capitalize;" class="h3 mb-3"> <b>Welcome, <span
                style="text-transform: capitalize;">{{user.first_name}}.</span></b> </h1>


    <div class="container-fluid p-0">
        {% if has_account %}
        <h1 class="h3 mb-3"><strong>Accounts</strong> </h1>
        {% endif %}


        <div class="w-100">
            <div class="row">
                <!-- Total Balance -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">TOTAL BANK BALANCE</h5>
                                </div>
                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="dollar-sign"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3 text-md" style="font-size: 25px !important;">
                                ${{user.get_total_amount_in_account}}</h1>

                        </div>
                    </div>
                </div>
                {% for account in accounts %}
                {% if account %}
                <a class="col-sm-6" href="{% url 'accounts_detail' account.id %}"
                    style="display: block; text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title text-capitalize">{{ account.account_type }}
                                        {{account_model_meta.model_name}}
                                    </h5>
                                </div>
                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="dollar-sign"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3 " style="font-size: 25px !important;">${{ account.balance }}</h1>
                            <!-- <div class="mb-0">
                                <span class="text-success"><i class="mdi mdi-arrow-bottom-right"></i> 4.7%
                                </span>
                                <span class="text-muted">Since last month</span>
                            </div> -->

                            <div class="d-flex justify-content-between align-items-center">
                                {% if account.activated %}
                                <span class="badge bg-success">ACTIVE</span>
                                {% else %}
                                <span class="badge bg-danger">RED</span>
                                {% endif %}


                                {% if account.activated %}
                                <div></div>
                                {% else %}
                                <a href="{% url 'accounts_detail' account.pk %}"
                                    style="text-decoration: underline !important;" class="btn btn-link">Activate</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}

                {% if has_loan %}
                <h1 class="h3 mb-3"><strong>Loans</strong> </h1>
                {% endif %}

                {% if has_loan %}
                <!-- Total Loan Balance -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">TOTAL LOAN BALANCE</h5>
                                </div>
                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="dollar-sign"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3 text-md" style="font-size: 25px !important;">
                                ${{loan_total}}</h1>
                        </div>
                    </div>
                </div>
                {% for loan in loans %}
                <a class="col-sm-6" class="d-inline-block" style="display: inline-block; text-decoration: none;"
                    href="{% url 'loan_detail' loan.id %}">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title" style="text-transform: uppercase;">
                                            {{ loan.loan_type }}
                                            {{ loan_model_meta.model_name }}
                                        </h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>

                                </div>
                                <h1 class="mt-1 mb-3" style="font-size: 25px !important;">${{ loan.amount }}</h1>
                                {% if loan.activated %}
                                <span class="badge bg-primary">Active</span>
                                {% else %}
                                <span class="badge bg-danger">Pending</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}

                {% endif %}

            </div>

            {% if has_debit_cards %}
            <h1 class="h3 mb-3 mt-3"><strong>Debit Cards</strong> </h1>
            <div class="row mt-4">
                {% for card in debit_cards %}
                <a href="{% url 'debit_card_detail' card.pk %}" class="col-sm-6 d-inline-block"
                    style="text-decoration: none;">
                    <div class="card shadow-sm" style="overflow: hidden;">
                        <div class="card-header d-flex justify-content-between align-items-center"
                            style="flex-wrap: wrap;">
                            <h5 class="m-0 h3">FirstCitizen Bank</h5>
                            <div class=""
                                style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <img width="40" src="{{ card.card_image }}" alt="Visa Logo">
                                <span>{{card.card_type}}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="text-muted card-title">
                                {% if card.activated %}
                                {{ card.card_number }}
                                {% else %}
                                #########################
                                {% endif %}

                            </h4>
                            <p class="card-text h3">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center; "
                            class="card-footer text-muted">
                            <span>
                                Validity:
                                {% if card.activated %}
                                {% if card.month_and_year_of_expiration %}
                                {{card.month_and_year_of_expiration}}
                                {% else %}
                                {{card.expiration_date}}
                                {% endif %}
                                {% else %}
                                ######
                                {% endif %}

                            </span>
                            <span>
                                {% if card.activated %}
                                <div class="badge bg-success">Active</div>
                                {% else %}
                                <div class="badge bg-danger">Inactive</div>
                                {% endif %}
                            </span>

                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}


            {% if has_credit_cards %}
            <h1 class="h3 mb-3 mt-3"><strong>Credit Cards</strong> </h1>
            <div class="row mt-4">
                {% for card in credit_cards %}
                <a href="{% url 'credit_card_detail' card.pk %}" class="col-sm-6 d-inline-block"
                    style="text-decoration: none;">
                    <div class="card shadow-sm" style="overflow: hidden;">
                        <div class="card-header d-flex justify-content-between align-items-center"
                            style="flex-wrap: wrap;">
                            <h5 class="m-0 h3">FirstCitizen Bank</h5>
                            <div class=""
                                style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <img width="40" src="{{ card.card_image }}" alt="Visa Logo">
                                <span>{{card.card_type}}</span>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 class="text-muted card-title">
                                {% if card.activated %}
                                {{ card.card_number }}
                                {% else %}
                                #########################
                                {% endif %}
                            </h4>
                            <p class="card-text h3">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center; "
                            class="card-footer text-muted">
                            <span>
                                Validity:
                                {% if card.activated %}
                                {% if card.month_and_year_of_expiration %}
                                {{card.month_and_year_of_expiration}}
                                {% else %}
                                {{card.expiration_date}}
                                {% endif %}
                                {% else %}
                                ######
                                {% endif %}
                            </span>
                            <span>
                                {% if card.activated %}
                                <div class="badge bg-success">Active</div>
                                {% else %}
                                <div class="badge bg-danger">Inactive</div>
                                {% endif %}
                            </span>

                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}

            <br>

            <h1 class="h3 mb-3 mt-3"><strong>Recent Transactions</strong> </h1>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Account</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.timestamp }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                    <td>{{transaction.from_account.account_type}}</td>
                                    <td>${{ transaction.amount }}</td>
                                    <td>
                                        <span
                                            class="badge {% if not transaction.status == 'Pending' %} bg-success {% else %} bg-danger {% endif %}">
                                            {{ transaction.status|capfirst }}
                                        </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">No transactions available</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card Stuff
        <div class="row gap-1">
            <div class="col-sm-6 bg-primary">
                <div class="card debit-card shadow bg-primary">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h5 class="m-0 text-white h2">FirstCitizen Bank</h5>
                        <img width="50"
                            src="https://res.cloudinary.com/daf9tr3lf/image/upload/v1733837713/visa_c3zgln.png"
                            alt="MasterCard Logo" class="mastercard-logo">
                    </div>
                    <div class="card-body">
                        <div class="card-number mb-3">
                            <h4 class="text-white">1234 5678 9012 3456</h4>
                        </div>
                        <div class="cardholder-info">
                            <p class="text-white mb-0">Cardholder Name</p>
                            <h5 class="text-white h4">John Doe</h5>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="mb-0">Valid Thru: 12/28</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 bg-primary">
                <div class="card debit-card shadow bg-primary">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h5 class="m-0 text-white h2">FirstCitizen Bank</h5>
                        <img width="50"
                            src="https://res.cloudinary.com/daf9tr3lf/image/upload/v1733837713/visa_c3zgln.png"
                            alt="MasterCard Logo" class="mastercard-logo">
                    </div>
                    <div class="card-body">
                        <div class="card-number mb-3">
                            <h4 class="text-white">1234 5678 9012 3456</h4>
                        </div>
                        <div class="cardholder-info">
                            <p class="text-white mb-0">Cardholder Name</p>
                            <h5 class="text-white h4">John Doe</h5>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="mb-0">Valid Thru: 12/28</p>
                    </div>
                </div>

            </div>
        </div> -->


        <!-- Recent Transactions Section -->

        <div class="card flex-fill w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Transaction Overview</h5>
            </div>
            <div class="card-body py-3">
                <div class="chart chart-sm">
                    <canvas id="recent-transaction-line"></canvas>
                </div>
            </div>
        </div>




    </div>



</main>
{% endblock %}



{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function () {


        // Get data passed from the backend
        var checkingData = JSON.parse('{{ checking_data|safe }}');
        var savingsData = JSON.parse('{{ savings_data|safe }}');
        var months = JSON.parse('{{ months_data|safe }}');



        console.log(months)

        // Line chart
        new Chart(document.getElementById("recent-transaction-line"), {
            type: "line",
            data: {
                labels: months,
                datasets: [{
                    label: "Checking Account ($)",
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: window.theme.primary,
                    data: checkingData
                }, {
                    label: "Saving Account ($)",
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: "#ff0000",
                    borderDash: [4, 4],
                    data: savingsData
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.05)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 500
                        },
                        display: true,
                        borderDash: [5, 5],
                        gridLines: {
                            color: "rgba(0,0,0,0)",
                            fontColor: "#fff"
                        }
                    }]
                }
            }
        });
    });
</script>

{% endblock %}