{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}




<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Create a New Debit Card</strong></h1>

        <div class="row">
            <div class="col-lg-8">
                <div class="card">


                    <div class="card-body">
                        <form id="createCardForm">

                            <div class="mb-3">
                                <label for="card_type" class="form-label">Choose Account To Connect Card:</label>
                                <select class="form-select" id="account_type" name="account_type" required>
                                    <option value="" disabled selected>Select account type</option>
                                    {% for account in accounts %}
                                    <option value="{{ account.id }}">{{ account.account_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="mb-3">
                                <label for="card_type" class="form-label">Choose Card Type:</label>
                                <select class="form-select" id="card_type" name="card_type" required>
                                    <option value="" disabled selected>Select card type</option>
                                    {% for card_type in available_card_types %}
                                    <option value="{{ card_type }}">{{ card_type }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="mb-3">
                                <label for="passcode" class="form-label">Personal Identification Number (PIN): </label>
                                <input required type="number" class="form-control" id="passcode" name="passcode">
                                <span style="font-size: 12px;">Please enter a four digit pin</span>
                            </div>

                            <div class="mb-3">
                                <label for="passcode2" class="form-label">Confirm Personal Identification Number (PIN):
                                </label>
                                <input required type="number" class="form-control" id="passcode2" name="passcode2">
                                <span style="font-size: 12px;">Please Confirm your chosen four digit pin</span>
                            </div>
                            <div id="message" class="p-2"></div>

                            <button type="submit" class="btn btn-primary">Create Card</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Loan Guidelines</h5>
                        <ul>
                            <li>Ensure you meet the minimum income requirements before applying.</li>
                            <li>Loan terms and conditions apply based on your credit score.</li>
                            <li>Provide accurate information to avoid delays in processing.</li>
                            <li>Interest rates vary by loan type and duration.</li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</main>


{% endblock %}


{% block script %}
<script>

    const clearAllFields = function () {
        document.getElementById('message').setAttribute('class', '');
        document.getElementById('message').innerText = "";
        document.getElementById('card_type').value = "";
        document.getElementById('account_type').value = "";
        document.getElementById('passcode').value = "";
        document.getElementById('passcode2').value = "";
    }



    document.getElementById('createCardForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const cardType = document.getElementById('card_type').value;
        const accountType = document.getElementById('account_type').value;
        const passcode = document.getElementById('passcode').value;
        const passcode2 = document.getElementById('passcode2').value;

        console.log({ cardType, accountType })

        fetch('{% url "create_debit_card" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            // body: `card_type=${cardType};account_type: ${accountType}`,
            body: JSON.stringify({ card_type: cardType, account_type: accountType, passcode, passcode2 }),
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.error); });
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('message').setAttribute('class', 'text-success p-2');
                document.getElementById('message').innerText = data.message;
                alert(data.message);
                setTimeout(() => {
                    // window.location.href = `{% url 'debit_card_list' %}`;
                    clearAllFields();
                    window.location.href = `/dashboard/cards/debit/${data.card_id}/`;
                }, 2000);  // Reload after 2 seconds if successful
            })
            .catch(error => {
                document.getElementById('message').setAttribute('class', 'text-danger mb-2');
                document.getElementById('message').innerText = error.message;
                alert(error.message);

                setTimeout(() => {
                    clearAllFields();
                }, 1000)

            });
    });
</script>

{% endblock %}